<section class="post-comments">
  <h2 style="padding-top: 15px;">Comments</h2>
  {{ $comments := readDir "data/comments" }}
  {{ $.Scratch.Add "hasComments" 0 }}
  {{ $entryId := .File.BaseFileName }}

  {{ range $comments }}
    {{ if eq .Name $entryId }}
      {{ if ne $.Site.Data.comments nil}}
      {{ $.Scratch.Add "hasComments" 1 }}
      {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
        {{ if not .reply_to }}
          <div class="post-comment">
            <div class="post-comment-header">
              <img class="post-comment-avatar" src="/img/icons8-name-filled-100.png" style="background-color: {{ .color | safeCSS}}">
              <p class="post-comment-info"><strong>{{ .name }}</strong><br>{{ dateFormat "Monday, Jan 2, 2006" .date }}</p>
              <div class="post-comment-reply-btn">
                <a id="{{ ._id }}" class="btn-info" href="#comment-form" onclick="replyTo('{{ ._id }}', '{{ .name }}')"> ↓ Reply</a>
              </div>
            </div>
            {{ .comment | markdownify }}

            {{ partial "extras/staticman_comment_replies" (dict "entryId_parent" $entryId "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name "context" .) }}
          </div>
        {{ end }}
      {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}


  {{ if eq ($.Scratch.Get "hasComments") 0 }}
    <p>No comments yet.</p>
  {{ end }}

  {{ partial "extras/staticman_comment_form" . }}

  <script type="text/javascript">
    function replyTo(id, name) {
      document.getElementById("post-replying-to").innerHTML = "Replying to <b>" + name + "</b>";
      document.getElementsByName('fields[reply_to]')[0].value = id;
    }
  </script>
  

</section>